body{
    @include body-font;
    color:$gray-600;
    @media (min-width:992px) {
        padding-left: 17rem;
    }
}
h1,h2,h3,h4,h5,h6{
    @include heading-font;
    font-weight: 700;
    color: $gray-800;
}
.subtitle{
    @include heading-font;
    font-weight: 500;
    font-size:1.5rem;
}